<!-- INICIO DE CARD -->
<div class="card shadow">
  <!-- INICIO DE HEADER -->
  <div class="card-header">
    <h1 class="card-title">Hoja de inspección N° {{inspeccion?.idInspeccion}}</h1>
  </div>
  <!-- FIN DE HEADER -->

  <!-- INICIO DE CUERPO -->
  <div class="card-body" *ngIf="this.loading">
    <div class="form-row mx-0">
      <div class="col text-center">
        <img src="../assets/img/loading.svg" width="50%" alt="loading">
      </div>
    </div>
  </div>

  <div class="card-body" *ngIf="!this.loading">

    <div class="form-row mx-0">
      <div class="col text-center">
        <img src="../assets/img/LOGO-XPLORE_01-ColorPrimario.png" width="40%" alt="logo_xplore">
      </div>
    </div>

    <div class="form-row mx-0">
      <h1>Datos Generales del vehículo:</h1>
      <hr style="margin-top: 0" width="100%">
    </div>

    <div class="form-row mx-0">
      <h3 class="col font-weight-bold">Número de vehículo:</h3>
      <p class="col"> {{inspeccion?.vehiculo['nemVehiculo']}}</p>
      <h3 class="col font-weight-bold">Número de placa:</h3>
      <p class="col"> {{inspeccion?.vehiculo['numMatricula']}}</p>
    </div>

    <div class="form-row mx-0">
      <h3 class="col font-weight-bold">Marca:</h3>
      <p class="col">{{inspeccion?.vehiculo['marca']['descMarca']}}</p>
      <h3 class="col font-weight-bold">Modelo:</h3>
      <p class="col"> {{inspeccion?.vehiculo['modelo']['nomModelo']}}</p>
    </div>

    <div class="form-row mx-0 ">
      <h1>Datos de Salida:</h1>
      <hr style="margin-top: 0" width="100%">
    </div>

    <div class="form-row mx-0">
      <h3 class="col font-weight-bold">Agencia de dalida:</h3>
      <p class="col">{{inspeccion?.agencia_salida['descAgencia']}}</p>
      <h3 class="col font-weight-bold">Combustible de Salida:</h3>
      <p class="col">{{ formatLabel(inspeccion?.combSalida) }}</p>
    </div>

    <div class="form-row mx-0">
      <h3 class="col font-weight-bold">Rendimiento combustible de salida:</h3>
      <p class="col">{{ inspeccion?.rendCombSalida }}</p>
      <h3 class="col font-weight-bold">Kilometraje:</h3>
      <p class="col"> {{inspeccion?.odoSalida}}</p>
    </div>

    <div class="form-row mx-0">
      <h3 class="col font-weight-bold">Fecha y hora de salida:</h3>
      <p class="col">{{ inspeccion?.fechaSalida | date:'d/MM/y, h:mm a' }}</p>
    </div>

  </div>
  <!-- INICIO DE CUERPO -->

  <div class="modal-footer">
    <button id="printButton" type="button" (click)="imprimirHoja()" class="btn btn-outline-primary"><i class="fa fa-print"></i> Imprimir</button>
  </div>

</div>
<!-- FIN DE CARD -->
