<!--CARD START -->
<mat-card >
  <mat-card-header >
    <mat-card-title>Listado de inspecciones</mat-card-title>
  </mat-card-header>
  <!-- CARD BODY START -->
  <mat-card-content>
    <div class="row" >
      <div class="col">
        <a class="btn btn-outline-success float-right" [routerLink]="['create-inspeccion']">Agregar Inspección</a>
      </div>
    </div>
    <div class="row">
      <table mat-table [dataSource]="inspecciones" >

        <!-- Position Column -->
        <ng-container matColumnDef="Nº de Inspección">
          <th mat-header-cell *matHeaderCellDef> Nº de Inspección </th>
          <td mat-cell *matCellDef="let inspeccion"> {{inspeccion.idInspeccion}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Vehículo">
          <th mat-header-cell *matHeaderCellDef> Vehículo </th>
          <td mat-cell *matCellDef="let inspeccion"> {{inspeccion.vehiculo['modelo'] + ' ' + inspeccion.vehiculo['nemVehiculo']}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Fecha de creación">
          <th mat-header-cell *matHeaderCellDef> Fecha de creación </th>
          <td mat-cell *matCellDef="let inspeccion"> {{inspeccion.fechaProceso}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Acción">
          <th mat-header-cell *matHeaderCellDef> Acción </th>
          <td mat-cell *matCellDef="let inspeccion">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button (click)="verInspeccion(inspeccion?.idInspeccion)"  mat-menu-item>
                <mat-icon>visibility</mat-icon>
                <span>Ver Inspección</span>
              </button>

              <button *ngIf="inspeccion?.idEstado == 48" (click)="cerrarInspeccion(inspeccion?.idInspeccion)" mat-menu-item>
                <mat-icon>assignment_turned_in</mat-icon>
                <span>Cerrar Inspección</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <!-- DATATABLE START -->

    <!-- DATATABLE END -->
  </mat-card-content>
  <!--CARD BODY END -->

</mat-card>
<!-- CARD END -->


