<!-- NAVBAR START -->
<mat-toolbar  class="app-toolbar" color="primary">
  <mat-toolbar-row>
    <a mat-button *ngIf="currentUser" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </a>
    <a [routerLink]="['/']">
      <img alt="image" height="50px" class="d-inline-block" src="assets/img/LOGO-XPLORE_01-ColorPrimario.png">
    </a>

  </mat-toolbar-row>

</mat-toolbar>

<!-- NAVBAR END -->

<!-- -->
<mat-sidenav-container style="min-height: 100vh;">
  <mat-sidenav #sidenav mode="over">
    <mat-nav-list>
      <a href="javascript:void(0);" mat-list-item (click)="showLogout()">
        <mat-icon>account_circle</mat-icon>
        {{currentUser?.nomUsuario}}
        <mat-icon matSuffix>keyboard_arrow_down</mat-icon>
      </a>

      <mat-nav-list id="xploreUsrSubMenu" class="d-none">
        <a href="javascript:void(0)" id="logout" class="ml-3" mat-list-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Cerrar Sesión
        </a>
      </mat-nav-list>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content [ngClass]="{'mt-3': currentUser, 'mt-0': !currentUser}">

    <div class="mx-3">
      <router-outlet></router-outlet>
    </div>
    <footer class="mt-5 mb-3">
      <p class="text-center">© Copyright 2020 <strong>ALCARSA - Xplore Rent a Car</strong> | Todos los derechos
        reservados</p>
    </footer>

  </mat-sidenav-content>

</mat-sidenav-container>
<!-- -->

