<!-- INICIO DE CONTENEDOR -->
<div class="col-md-6 offset-md-3 mt-5">

  <h2 class="text-center">INSPECCIÓN DE VEHÍCULOS</h2>

  <!-- INICIO DE CARD -->
  <mat-card class="shadow">
    <mat-card-header >
      <mat-card-title>
        Autenticación
      </mat-card-title>
    </mat-card-header>


    <!-- INICIO DE CONTENIDO DEL CARD -->
    <mat-card-content>
      <!-- INICIO FORMULARIO LOGIN -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">

          <mat-form-field class="d-block" appearance="outline">
            <mat-label>Usuario:</mat-label>
            <input formControlName="nickName" [ngClass]="{ 'is-invalid': submitted && f.nickName.errors }" matInput
                   placeholder="Ingrese su usuario">
            <mat-icon matSuffix><i class="fa fa-user"></i></mat-icon>
            <mat-error *ngIf="f.nickName.invalid"> El usuario es obligatorio.</mat-error>

          </mat-form-field>


        </div>
        <div class="form-group">
          <mat-form-field class="d-block" appearance="outline">
            <mat-label>Contraseña:</mat-label>
            <input matInput type="password" formControlName="password"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <mat-icon matSuffix><i class="fa fa-key"></i></mat-icon>
            <mat-error *ngIf="f.password.invalid">La contraseña es obligatoria.</mat-error>
          </mat-form-field>

        </div>
        <div class="form-group">
          <input id="remember_me" formControlName="remember_me" type="checkbox"> Recordar Usuario
        </div>
        <button [disabled]="loading" class="btn xplore-bg btn-outline btn-block text-white">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 "></span>
          Ingresar
        </button>

      </form>
      <!-- FIN FORMULARIO LOGIN -->

    </mat-card-content>
    <!-- FIN DE CONTENIDO DEL CARD -->

  </mat-card>
  <!-- FIN DE CARD -->

</div>
<!-- FIN DE CONTENEDOR -->


<!-- INICIO DE MODAL -->
<div id="errModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header bg-warning">
        <h1 class="modal-title">Error al iniciar su sesión</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{error}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- FIN DE MODAL -->
