/* You can add global styles to this file, and also import other style files */
.xplore-bg{
  background-color: #006b9e /*#00679a*/;
}
.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}
@media print {
  #printButton {
    display: none;
  }
}

mat-sidenav{
  width: 250px !important;
}

mat-sidenav{
  width: 250px;
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.app-toolbar-alternative {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari
  top: 0;  Sets the sticky toolbar to be on top
  z-index: 1000;  /*Ensure that your app's content doesn't overlap the toolbar*/

}

#main{
  margin-top: 2rem !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
table {
  width: 100%;
}
